<tr *ngIf="product">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.quantity}}</td>
    <td>
        <i [ngClass]="product.selected?'fa-heart':'fa-heart-o'" class="fa text-danger" (click)="onSelect(product)"></i> 
    </td>
    <td>
        <i (click)="onAvailable(product)" [ngClass]="product.available?'fa-check-square-o text-success':'fa-ban text-danger'" class="fa"></i></td>
    <td>
        <button (click)="onDelete(product.id)" class="btn btn-sm btn-danger">
            <i class="fa fa-trash-o"></i>
        </button>
    </td>
    <td>
        <button (click)="onEdit(product)" class="btn btn-sm btn-success">
            <i class="fa fa-pencil"></i>
        </button>
    </td>
</tr>